
<!DOCTYPE html>

<html>

<body>
    @DateTime.Now;

    <!--HTML Comment-->
    @* Razor comment *@

    @* Start Header *@


    @* start Body *@
    <nav>
        <center>
            <div class="mt-3 mt-lg-2 bg-primary text-white rounded-2">
                <h1>Welcome to Home Page</h1>
                <p>loremispdad kdnfoisnf adfijsdoif</p>
            </div>

        </center>
    </nav> 
    @* End Body *@

  

</body>
</html>
