
<body>
@* start Body *@
<nav>
    <center>
        <div class="mt-3 mt-lg-2 bg-success text-white rounded-2">
            <h1>Welcome to Privacy Page</h1>
            <p>loremispdad kdnfoisnf adfijsdoif</p>
        </div>

    </center>
</nav>
@* End Body *@
</body>
