@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    @* <link rel="stylesheet" href="~/Lib/bootstrap/css/" /> *@
</head>
<body>
    @* Start Header *@
    <nav>
        <center>
            <a asp-controller="Home" asp-action="Index" class="btn btn-success">Roooo</a>
            <a asp-controller="Home" asp-action="AboutUs" class="btn btn-warning">About-Us </a>
            <a asp-controller="Home" asp-action="Privacy" class="btn btn-success">Privacy </a>
            <a asp-controller="Home" asp-action="ContactUs" class="btn btn-light">ContactUs </a>
            <a asp-controller="Account" asp-controller="Login" class="btn btn-danger">Login</a>
            <a asp-controller="Account" asp-controller="Register" class="btn btn-outline-secondary">Register</a>
            @* TagHelper *@
            
        </center>
    </nav>
    @* End Header *@

    @* start footer *@
    <footer>
        <center>
            <p>copyrights &copy; : for my @DateTime.Now.Year </p>
        </center>
    </footer>
    @* End footer *@
    
    <div>
        @RenderBody()
    </div>
</body>
</html>
